/* global presenting setting for page */

@font-face {
    font-family: "displayfont";
    src: url("./Resources/fonts/B Zar_0.ttf");
    color: black;
    direction: rtl;
}

body {
    font-family: displayfont;
}


/* id mouse is over the button setting  */

button:hover {
    cursor: pointer;
}

input {
    padding-right: 5px;
    margin-left: -5px;
    /* 5 padding to right needs reverce for left to be in center*/
    border-style: solid;
    border-width: 3px;
    direction: rtl;
}


/* text hint of input field design */

input::placeholder {
    color: gray;
}


/* selection elements of the page setup */

::selection {
    color: blue;
    background: lightblue;
    font-size: 2%;
}