/* global presenting setting for page */

@font-face {
    font-family: "displayfont";
    src: url("./Resources/fonts/B Zar_0.ttf");
    color: black;
    direction: rtl;
}

body {
    font-family: displayfont;
}


/* id mouse is over the button setting  */

button:hover {
    cursor: pointer;
}


/* selection elements of the page setup */

::selection {
    color: blue;
    background: lightblue;
    font-size: 2%;
}