/* global presenting setting for page */

* {
    /* font-size: 24px; */
}


/* selection elements of the page setup */

::selection {
    color: blue;
    background: lightblue;
    font-size: 2em;
}
