@import "globalStyle.css";

/* main page design peroperties */

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    /*every section is below another so the display is flex column*/
}


/* header */

#header {
    z-index: 1;
    /* so the header drob downs be on the other part of the page */
    margin-top: 2%;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    /* so it will be in center and rtl direction */
}


/* default header buttons look like */

a {
    font-size: larger;
    color: black;
    font-weight: bold;
}


/* every header elemnt picture */

li svg {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-bottom: -6px;
    margin-left: 5px;
}


/* every header elemnt dad*/

li {
    position: relative;
    margin-left: 2vw;
    display: inline;
}


/* Drop downs defulat show case */

.dropdown {
    display: none;
    position: absolute;
    top: 30px;
    right: 15px;
}


/* hover header */

li:hover a {
    color: #FB815E;
}

li:hover .dropdown {
    color: #FB815E;
    display: flex;
    flex-direction: column;
}


/* /////////////////// */


/* Search Bar Section Start*/

#searchBarSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /* so it will be in center and rtl direction */
    background-image: url(./Resources/searchBackground.png);
    background-color: rgb(152, 80, 245);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 15px;
}

#searchBarSection h1 {
    font-size: 46px;
    color: white;
}

#searchBar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#searchBar>input {
    width: 36vw;
    height: 8vh;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

#searchButton {
    border-radius: 15px 0px 0px 15px;
    border-style: solid;
    background-color: #FB815E;
    border-color: #FB815E;
    color: white;
    position: absolute;
    height: 100%;
    left: -6px;
}


/* tehran button near the input button design */

#cityButton {
    position: absolute;
    height: 70%;
    left: 13.8%;
    /* so the 2 left side button wont collaps */
    border-style: solid;
    background-color: white;
    border-color: white;
    /* so the border layout wont be visible */
    border-right: 2px solid gray;
    margin-top: 10px;
    color: gray;
    padding-left: 80px;
}


/* on button hover actions */

#searchButton:hover {
    background-color: #f56841;
    border-color: #f56841;
    color: rebeccapurple;
}


/* Search Bar section End */

#technitionSection {
    position: relative;
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: white;
    border-color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 15px;
}

#technitionSection h2 {
    color: gray;
}


/* main div child elements have to be in row */

#technitionSection>div {
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
}

#technitionSection>#technitionSectionHeader>button {
    color: #1780DF;
    border-style: solid;
    background-color: white;
    border-color: white;
    position: absolute;
    left: 10px;
    top: 36%;
}


/* every technition bar image is above its text so layout is flex column */

.technitionBar {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: gray;
}


/* technition part Started */